p{
    border: solid black 1px;
}
#figure1{
    background-color: cornflowerblue;
}
#figure2{
    background-color: darkseagreen;
}
#figure3{
    background-color: bisque;
}
@media (min-width: 800px) {
    #figure1{
        font-size: 40px;
        font-weight: bolder;
    }
    #figure3{
        padding-left: 80px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
@media (max-width: 800px) {
    #figure2{
        display: none;
    }
    #figure3{
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}