body{
    margin: 0px;
    background-image: url('../img/mar.jpg');

}
.lista a{
    text-decoration: none;
    color: darkred;
    border: solid black 1px;
    background-color: palegreen;
    border-radius: 5px;
    opacity: 0.5;
    padding: 10px;
}
.lista{
    display: flex;
    justify-content: end;
    list-style: none;
}
li a{
    margin-left: 30px;
}
header{
    color: purple;
    font-family: "Abyssinica SIL";
    font-size: 20px;
    background-image: url('../img/banner.jpg');
    padding: 1px;
}
section{
    font-family: Consolas;
    text-align: center;
}
article a{
    text-decoration: none;
    color:  darkslategrey;
    font-family: "Corbel Light";
}
article{
    color: darkblue;
    text-align: center;
    font-family: "MS PGothic";
    font-size: 30px;
    padding: 1px;
}
#torturga{
    border: solid black 3px;
    margin: 100px;
    border-radius: 100px;
    list-style-type: none;
    font-size: 13px;
    grid-area: main;
    background-color: rgba(0, 255, 255, 0.5);
}
#lludria{
    border: solid black 3px;
    margin: 100px;
    border-radius: 100px;
    list-style-type: none;
    font-size: 13px;
    grid-area: sidebar;
    background-color: rgba(0, 255, 255, 0.5);
}
#ratpanat{
    border: solid black 3px;
    margin: 100px;
    border-radius: 55px;
    list-style-type: none;
    font-size: 13px;
    grid-area: footer;
    background-color: rgba(0, 255, 255, 0.5);
}
#articulo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#Biblio a{
    text-decoration: none;
    list-style: none;
    color: black;
}
#Biblio{
    font-family: "DejaVu Sans";
    background-color: red;
    grid-area: main;
}
#Llicencia{
    font-family: "DejaVu Sans";
    background-color: yellow;
    grid-area: sidebar;
}
#segueix{
    font-family: "DejaVu Sans";
    background-color: purple;
    grid-area: footer;
}
#container{
    border: solid black 10px;
    border-radius: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto;
    grid-template-areas:
            "main sidebar footer";
}
@media (max-width: 1700px){
    #articulo{
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 800px){
    img{
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 300px){
    .lista{
        display: flex;
        flex-direction: column;
    }
}